*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    box-shadow: 4px 4px 8px;
    border-radius: 0.5rem;
}

.yellow{
   background-color: #FFFF00;
}

.blue{
    background-color: #0000BA;
}

.red{
    background-color: #DC0000;
}

.big-box{
    border: 1px solid;
    margin: 0.8rem;
}

.small-box{
    width: 25%;
    height: 9vw;
}

#second, #third{
    overflow: auto;
}

#second .small-box{
    float: left;
}

#third .small-box{
    float: right;
}