*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 80%;
}

.yellow{
   background-color: #FFFF00;
}

.blue{
    background-color: #0000BA;
}

.red{
    background-color: #DC0000;
}

.big-box{
    border: 1px solid;
}

.small-box{
    width: 18vw;
    height: 9vw;
}

#second, #third{
    overflow: auto;
}

#second .small-box{
    float: left;
}

#third .small-box{
    float: right;
}